<%- include ("../_partial/_header.ejs"); %>



<h1>Node.js  Custom</h1>


<form method="post" action="/form/custom">
  <input type="test" name="field1">
  <input type="test" name="field2">
  <input type="submit">
</form>



<%- include ("../_partial/_footer.ejs"); %>

